<app-carousel></app-carousel>
<div class="h2 text-center">Последние новости</div>
<div class="row">
  <div class="col-md-4 ">
    <img class="w-100" src="assets/resource/news/build.jpg">
  </div>
  <div class="col-md-8 h4">
    Успейте увидить, впервые в минске, беларуси да и вообще в мире, то что нельзя пощупать, но можно увидить. То что создаст новые, незабываемые впечатления. ХЕРНЯ!!!!
  </div>
  <div class="col-md-4 ">
    <img class="w-100" src="assets/resource/news/build2.jpg">
  </div>
  <div class="col-md-8 h4">
    Успейте увидить, впервые в минске, беларуси да и вообще в мире, то что нельзя пощупать, но можно увидить. То что создаст новые, незабываемые впечатления. не ХЕРНЯ!!!!
  </div>
</div>
