<div class="h1 text-center">Изменить </div>
<button class="btn btn-outline-danger float-left m-2" (click)="delete()">Удалить</button>
<button type="button" class="btn btn-info float-right m-2" (click)="refresh()"> Обновить</button>
<div>
  <form [formGroup]="titleForm" (ngSubmit)="changeTitle()">
    <label class="col-form-label ml-4">Name:</label>
    <input type="text" class="form-control m-2" size="20" formControlName="name" placeholder="Name">
    <label class="col-form-label ml-4">Category:</label>
    <select class="custom-select d-block m-2" id="category" formControlName="category">
      <option *ngFor="let ctg of categories" value="{{ctg.idcategory}}">{{ctg.name}}</option>
    </select>
    <label class="col-form-label ml-4">Image:</label>
    <input type="text" class="form-control m-2" size="20" formControlName="image" placeholder="Image Name">
    <div class="float-right">
      <button type="submit" class="btn btn-dark m-2">Изменить</button>
    </div>
  </form>
</div>
