<app-header></app-header>
<div class="row">
  <div class="col-md-8">
    <img width="400" height="300" src="{{imgUrl}}">
  </div>
  <div class="col-md-4">
    <div><h3>{{product.name}}</h3></div>
    <div class="dropdown-divider"></div>
    <h3>Описание</h3>
    <p>{{product.shDes}}</p>
    <div class="align-bottom">
      <a class="btn btn-info" href="ru/communication">Связаться</a>
    </div>
  </div>
</div>
<div class="">
  <h2>Полное описание</h2>
  <p>{{product.description}}</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Характеристика</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cell of table">
      <td>{{cell.name}}</td>
      <td>{{cell.value}}</td>
    </tr>
    </tbody>
  </table>
</div>

