<div class="h1 text-center">Add Catalog</div>
<div>
  <form [formGroup]="categoryForm" (ngSubmit)="createNewCategory()">
    <label class="col-form-label ml-4">Name:</label>
    <input type="text" class="form-control m-2" size="20" formControlName="name" placeholder="Name">
    <label class="col-form-label ml-4">Image:</label>
    <input type="text" class="form-control m-2" size="20" formControlName="image" placeholder="Image Name">
    <div class="float-right">
      <button type="submit" class="btn btn-dark m-2">Add</button>
    </div>
  </form>
</div>
